body{
	background-color:#96C3EB;
	color: #000;
  font-family: avenir, sans-serif;
}

h1 {
  text-align: center;
  background-color: rgba(50, 50, 50, 0.5);
  font-family: verdana, sans-serif;
  color: #fff;
  margin: 1% 10%;
}

h2 {
  font-size: 1em;
  font-weight: normal;
  text-align: center;
  background-color: rgba(50, 50, 50, 0.5);
  padding: 0.4em;
  border-radius: 0.2em;
  font-family: verdana, sans-serif;
  color: #fff;
  margin: 1% 10%;
}

p {
	margin: 1% 10%;
	color: #fff;
	background-color: rgba(50, 50, 50, 0.5);
}

.header {
    padding: 0,5%;
    margin: 0,5%;
}

.ad1 {
    padding: 0,5%;
    margin: 0,5%;
}
.ad2 {
    padding: 0,5%;
    margin: 0,5%;
}
.ad3 {
    padding: 0,5%;
    margin: 0,5%;
}
.ad4 {
    padding: 0,5%;
    margin: 0,5%;
}

.foot {
    padding: 0,5%;
    margin: 0,5%;
    text-align: center;
}

img {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#landen{
	text-align: left;
	margin: 0 auto;
    display: block;
}

.button{
	margin: 0 auto;
    display: block;
  	background: #125678;
  	color: white;
 	font-size: 17px;
  	border: 1px solid grey;
  	cursor: pointer;
}

#map {
	margin: 0 auto;
    display: block;
	width: 400px;
	height: 200px;
	border-radius: 4px;
	min-width: 20%;
}

#weer {
	text-align: center;
}

#brewery {
	text-align: center;
}