body{
	background-color: #000;
	color: #000;
  font-family: avenir, sans-serif;
}

#main {
  text-align: center;
  background-color: rgba(50, 50, 50, 0.5);
  font-family: verdana, sans-serif;
  color: #fff;
  margin: 1% 10%;
}

#date {
  text-align: center;
  background-color: rgba(50, 50, 50, 0.5);
  font-family: verdana, sans-serif;
  color: #fff;
  margin: 1% 10%;
}

h1 {
  text-align: center;
  background-color: rgba(50, 50, 50, 0.5);
  font-family: verdana, sans-serif;
  color: #fff;
  margin: 1% 10%;
}

h2 {
  font-size: 1em;
  font-weight: normal;
  text-align: center;
  background-color: rgba(50, 50, 50, 0.5);
  padding: 0.4em;
  border-radius: 0.2em;
  font-family: verdana, sans-serif;
  color: #fff;
  margin: 1% 10%;
}
p {
	margin: 1% 10%;
	color: #fff;
	background-color: rgba(50, 50, 50, 0.5);

}
.header {
    padding: 0,5%;
    margin: 0,5%;
}

.ad1 {
    padding: 0,5%;
    margin: 0,5%;
}
.ad2 {
    padding: 0,5%;
    margin: 0,5%;
}

.foot {
    padding: 0,5%;
    margin: 0,5%;
    text-align: center;
}

img {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
